<!DOCTYPE html>
<html>
<head>
    <title>Aerospace Jam Example</title>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
</head>
<body>
    <h1>Aerospace Jam Example</h1>
    <button id="stopButton">Stop action</button>
    <p><b>Barometric pressure: </b> <span id="bmp">Loading...</span> hPa</p>
    <p><b>Current altitude: </b> <span id="altitude">Loading...</span> m</p>
    <button id="setZero">Set zero altitude</button>
    <button id="bmpButton">Measure barometric pressure</button>
    <p><b>Acceleration: </b> <span id="acc">Loading...</span> m/s²</p>
    <p><b>Angle: </b> <span id="angle">Loading...</span> °</p>
    <button id="gyroButton">Measure acceleration & angle</button>
    <p><b>Object's distance: </b> <span id="prox">Loading...</span> cm</p>
    <button id="proxButton">Measure distance</button>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            var stopButton = document.getElementById('stopButton');
            stopButton.addEventListener('click', function() {
                socket.emit('stopButton')});

            // BMP
            
            var setZero = document.getElementById('setZero');
            setZero.addEventListener('click', function() {
                socket.emit('setZero')});
            
            var bmpButton = document.getElementById('bmpButton');
            bmpButton.addEventListener('click', function() {
                socket.emit('bmpButton')});

            socket.on('update_bmp', function(msg) {
                var bmpSpan = document.getElementById('bmp');                //assign var and gets ID previously defined (connects html & js by identification)
                bmpSpan.textContent = msg.bmp});                            //sets value according to data sent by server (py)
                var altitudeSpan = document.getElementById('altitude');
                altitudeSpan.textContent = msg.altitude;

            // GYRO
            
            var gyroButton = document.getElementById('gyroButton');
            gyroButton.addEventListener('click', function() {
                socket.emit('gyroButton')});

            socket.on('update_bmp', function(msg) {
                var accSpan = document.getElementById('acc');
                accSpan.textContent = msg.acc});  
                var angleSpan = document.getElementById('angle');
                angleSpan.textContent = msg.angle;

            // PROXIMITY

            var proxButton = document.getElementById('proxButton');
            proxButton.addEventListener('click', function() {
                socket.emit('proxButton')});

            socket.on('update_bmp', function(msg) {
                var proxSpan = document.getElementById('prox');
                proxSpan.textContent = msg.prox});

            // 
            
        });
    </script>
</body>
</html>
