<!DOCTYPE html>
<html>
<head>
    <title>ASJ Asgard Air Force</title>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
</head>
<body>
    <h1>Asgard Air Force – Command Tower</h1><br>
    <button id="stopButton">Stop action</button><br><br>
    
    <p><b>Barometric pressure: </b> <span id="bmp">Loading...</span> hPa</p>
    <p><b>Current altitude: </b> <span id="altitude">Loading...</span> m</p>
    <p><b><i> &emsp; Altitude log: </i></b> <span id="altLog">Loading...</span> </p>
    <button id="setZero">Set zero altitude</button>
    <button id="bmpButton">Measure barometric pressure</button><br><br>
    
    <p><b>Acceleration (x, y, z): </b> <span id="acc">Loading...</span> m/s²</p>
    <p><b><i> &emsp; Acceleration log: </i></b> <span id="accLog">Loading...</span> </p>
    <p><b>Rate of rotation (x, y, z): </b> <span id="dps">Loading...</span> °/s</p>
    <p><b><i> &emsp; Rate of rotation log: </i></b> <span id="dpsLog">Loading...</span> </p>
    <p><b>Current position (x, y, z): </b> <span id="pos">Loading...</span> </p>
    <p><b><i> &emsp; Position log: </i></b> <span id="posLog">Loading...</span> </p>
    <button id="gyroButton">Measure acceleration, rate of rotation & position</button><br><br>
    
    <p><b>Object's distance: </b> <span id="prox">Loading...</span> cm</p>
    <p><b>Sum of distances: </b> <span id="sum">Loading...</span> cm</p>
    <button id="proxButton">Measure distance</button>
    <button id="sumButton">Sum distances</button><br><br>

    
    <p><b>Camera: </b> <span id="cam">Loading...</span> </p>
    <button id="picButton">Take a picture</button>
    <button id="liveButton">Live recording</button>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            var stopButton = document.getElementById('stopButton');
            stopButton.addEventListener('click', function() {
                socket.emit('stopButton')});

            // BMP
            
            var setZero = document.getElementById('setZero');
            setZero.addEventListener('click', function() {
                socket.emit('setZero')});
            
            var bmpButton = document.getElementById('bmpButton');
            bmpButton.addEventListener('click', function() {
                socket.emit('bmpButton')});

            socket.on('update_bmp', function(msg) {
                var bmpSpan = document.getElementById('bmp');                //assign var and gets ID previously defined (connects html & js by identification)
                bmpSpan.textContent = msg.bmp});                            //sets value according to data sent by server (py)
                
            socket.on('update_alt', function(msg) {
                var altitudeSpan = document.getElementById('altitude');
                altitudeSpan.textContent = msg.altitude;
                var altLogSpan = document.getElementById('altLog');
                altLogSpan.textContent = msg.altLog});                     //possible error due to 'msg' being a list/array

            // GYRO
            
            var gyroButton = document.getElementById('gyroButton');
            gyroButton.addEventListener('click', function() {
                socket.emit('gyroButton')});

            socket.on('update_gyro', function(msg) {
                var accSpan = document.getElementById('acc');
                accSpan.textContent = msg.acc;  
                var dpsSpan = document.getElementById('dps');
                dpsSpan.textContent = msg.dps;
                var posSpan = document.getElementById('pos');
                posSpan.textContent = msg.pos;
                var accLogSpan = document.getElementById('accLog');
                accLogSpan.textContent = msg.accLog;                        //possible error due to 'msg' being a list/array
                var dpsLogSpan = document.getElementById('dpsLog');
                dpsLogSpan.textContent = msg.dpsLog;                  //possible error due to 'msg' being a list/array
                var posLogSpan = document.getElementById('posLog');
                posLogSpan.textContent = msg.posLog});

            // PROXIMITY

            var proxButton = document.getElementById('proxButton');
            proxButton.addEventListener('click', function() {
                socket.emit('proxButton')});

            socket.on('update_prox', function(msg) {
                var proxSpan = document.getElementById('prox');
                proxSpan.textContent = msg.prox});

            // CAMERA

            var picButton = document.getElementById('picButton');
            picButton.addEventListener('click', function() {
                socket.emit('picButton')});
            
            var liveButton = document.getElementById('liveButton');
            liveButton.addEventListener('click', function() {
                socket.emit('liveButton')});

            socket.on('update_cam', function(msg) {
                var camSpan = document.getElementById('cam');
                camSpan.textContent = msg.cam});
            
        });
    </script>
</body>
</html>
